@import "tailwindcss";

html, body, #root {
  background: linear-gradient(to bottom right, #1e293b, #27272a); /* slate-700 to zinc-800 */
  color: white;
  margin: 0;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge antiguos */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* globals.css */
.no-scrollbar {
  -ms-overflow-style: none; /* IE 10+ / Edge Legacy */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

@theme {
  /* General ()*/
  --color-theme-global-bg-1: theme(--color-slate-900);
  --color-theme-global-bg-2: theme(--color-indigo-950);
  
  /* --------------------------------------------------------------------------- */
  /*                                    Header                                   */
  /* --------------------------------------------------------------------------- */
  
  --color-theme-header-bg-1: theme(--color-indigo-950);
  --color-theme-header-bg-2: theme(--color-indigo-800);
  --color-theme-header-border: theme(--color-indigo-300);
  --shadow-theme-header-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

  --color-theme-header-text: theme(--color-gray-400);
  --color-theme-header-text-hover: theme(--color-gray-50);
  --color-theme-header-text-active: theme(--color-indigo-100);
  --drop-theme-header-text-glow: 0 0 10px theme(--color-indigo-200);
  
  --color-theme-header-inner-bg: theme(--color-indigo-950);

  /* Header menu ()*/
  --color-theme-button-hover: theme(--color-indigo-400);
  --color-theme-button-active: theme(--color-indigo-300);
  
  --color-theme-menu-bg-1: theme(--color-indigo-950);
  --color-theme-menu-bg-2: theme(--color-indigo-800);
  --color-theme-menu-border: theme(--color-indigo-300);
  --color-theme-menu-buttons-hover: theme(--color-indigo-500);
  --color-theme-menu-buttons-active: theme(--color-indigo-300);
  --shadow-theme-menu-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  
  --color-theme-menu-themeselector-title-text: theme(--color-gray-50);
  --color-theme-menu-themeselector-selected-bg: theme(--color-slate-950);
  --color-theme-menu-themeselector-selected-hover-bg: theme(--color-indigo-700);
  --color-theme-menu-themeselector-option-bg: theme(--color-slate-950);
  --color-theme-menu-themeselector-option-hover-bg: theme(--color-indigo-700);
  --color-theme-menu-themeselector-text: theme(--color-indigo-700);

  --color-theme-menu-colorbutton-1: theme(--color-indigo-500);
  --color-theme-menu-colorbutton-hover-1: theme(--color-indigo-600);
  --color-theme-menu-colorbutton-active-1: theme(--color-indigo-700);

  --color-theme-menu-colorbutton-2: theme(--color-violet-500);
  --color-theme-menu-colorbutton-hover-2: theme(--color-violet-600);
  --color-theme-menu-colorbutton-active-2: theme(--color-violet-700);

  /* --------------------------------------------------------------------------- */
  /*                                   Sidebar()                                   */
  /* --------------------------------------------------------------------------- */

  --color-theme-sidebar-bg-1: theme(--color-slate-900);
  --color-theme-sidebar-bg-2: theme(--color-indigo-950);
  --color-theme-sidebar-border: theme(--color-indigo-300);
  --color-theme-sidebar-title-text: theme(--color-indigo-300);

  --color-theme-sidebar-button: theme(--color-indigo-400);
  --color-theme-sidebar-button-hover: theme(--color-indigo-500);
  --color-theme-sidebar-button-active: theme(--color-indigo-600);
  --color-theme-sidebar-button-border: theme(--color-indigo-300);

  /* Switch */
  --color-theme-sidebar-switch-1: theme(--color-indigo-600);
  --color-theme-sidebar-switch-2: theme(--color-gray-500);
  --color-theme-sidebar-ring: theme(--color-indigo-300);
  --color-theme-sidebar-divider: theme(--color-indigo-300);

  --color-theme-sidebar-filter-on-bg: theme(--color-indigo-600);
  --color-theme-sidebar-filter-on-border: theme(--color-indigo-300);
  --color-theme-sidebar-filter-off-bg-hover: rgb(from theme(--color-gray-600) r g b / 0.5);
  --color-theme-sidebar-filter-off-border: theme(--color-gray-400);

  /* --------------------------------------------------------------------------- */
  /*                                 Game Card                                   */
  /* --------------------------------------------------------------------------- */

  /* Expandible Modal */
  --shadow-theme-gamecard-modal: 0 8px 15px -3px rgba(0, 0, 0, 0.6);

  --color-theme-gamecard-modal-bg-1: theme(--color-blue-600);
  --color-theme-gamecard-modal-bg-2: theme(--color-blue-600);
  --color-theme-gamecard-modal-border: theme(--color-blue-600);

  --color-theme-gamecard-modal-infolabel-bg: theme(--color-blue-600);
  --color-theme-gamecard-modal-infolabel-border: theme(--color-blue-600);

  --color-theme-gamecard-modal-genres-bg: theme(--color-blue-600);
  --color-theme-gamecard-modal-genres-border: theme(--color-blue-600);

  --color-theme-gamecard-modal-extension-bg: theme(--color-blue-600);
  --color-theme-gamecard-modal-extension-border: theme(--color-blue-600);

  --color-theme-gamecard-modal-editbutton: theme(--color-blue-600);
  --color-theme-gamecard-modal-editbutton-hover: theme(--color-blue-600);
  --color-theme-gamecard-modal-editbutton-active: theme(--color-blue-600);

  /* General Card View ()*/
  --color-theme-gamecard-bg-1: theme(--color-indigo-800);
  --color-theme-gamecard-bg-2: theme(--color-indigo-950);
  --color-theme-gamecard-border: theme(--color-indigo-300);
  --shadow-theme-gamecard: 0 8px 15px -3px rgba(0, 0, 0, 0.6);

  --color-theme-gamecard-noimage-text: theme(--color-indigo-200);
  --color-theme-gamecard-overflow-genre-tag-bg: theme(--color-indigo-600);
  --color-theme-gamecard-overflow-genre-tag-border: theme(--color-indigo-400);
  --color-theme-gamecard-overflow-genre-tag-text: theme(--color-white);
  
  /* Tier List Card View */
  --color-theme-gamecard-tierlist-title-bg-1: theme(--color-blue-600);
  --color-theme-gamecard-tierlist-title-bg-2: theme(--color-blue-600);
  --color-theme-gamecard-tierlist-title-bg-3: theme(--color-blue-600);
  --color-theme-gamecard-tierlist-title-border: theme(--color-blue-600);

  /* Laderboard Card View */
  --color-theme-gamecard-laderboard-top1-bg-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-bg-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-bg-3: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-border: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-border-hover: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-shadow-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-shadow-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-shadow-hover-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top1-shadow-hover-2: theme(--color-blue-600);
  
  --color-theme-gamecard-laderboard-top2-bg-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-bg-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-bg-3: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-border: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-border-hover: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-shadow-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-shadow-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-shadow-hover-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top2-shadow-hover-2: theme(--color-blue-600);
  
  --color-theme-gamecard-laderboard-top3-bg-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-bg-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-bg-3: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-border: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-border-hover: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-shadow-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-shadow-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-shadow-hover-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-top3-shadow-hover-2: theme(--color-blue-600);
  
  --color-theme-gamecard-laderboard-featured-bg-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-bg-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-bg-3: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-border: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-border-hover: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-shadow-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-shadow-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-shadow-hover-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-featured-shadow-hover-2: theme(--color-blue-600);
  
  --color-theme-gamecard-laderboard-default-bg-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-bg-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-bg-3: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-border: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-border-hover: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-shadow-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-shadow-2: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-shadow-hover-1: theme(--color-blue-600);
  --color-theme-gamecard-laderboard-default-shadow-hover-2: theme(--color-blue-600);

  /* --------------------------------------------------------------------------- */
  /*                                  Tier List                                  */
  /* --------------------------------------------------------------------------- */
  --color-theme-tierlist-bg: theme(--color-blue-600);
  --color-theme-tierlist-border: theme(--color-blue-600);

  /* --------------------------------------------------------------------------- */
  /*                                 Games Page                                  */
  /* --------------------------------------------------------------------------- */
  --color-theme-games-searchbar-bg: theme(--color-blue-600);
  --color-theme-games-searchbar-ring-focus: theme(--color-blue-600);
  
  /* --------------------------------------------------------------------------- */
  /*                                 Stats Page                                  */
  /* --------------------------------------------------------------------------- */
  --color-theme-stats-border: theme(--color-blue-600);

  --color-theme-stats-total-bg-1: theme(--color-blue-600);
  --color-theme-stats-total-bg-2: theme(--color-blue-600);
  --color-theme-stats-total-bg-3: theme(--color-blue-600);

  --color-theme-stats-summary-bg-1: theme(--color-blue-600);
  --color-theme-stats-summary-bg-2: theme(--color-blue-600);
  --color-theme-stats-summary-bg-3: theme(--color-blue-600);
  --color-theme-stats-summary-border: theme(--color-blue-600);
  --color-theme-stats-summary-inner-bg: theme(--color-blue-600);
  --color-theme-stats-summary-content-bg: theme(--color-blue-600);
  
  --color-theme-stats-favorites-bg-1: theme(--color-blue-600);
  --color-theme-stats-favorites-bg-2: theme(--color-blue-600);
  --color-theme-stats-favorites-bg-3: theme(--color-blue-600);
  --color-theme-stats-favorites-border: theme(--color-blue-600);
  --color-theme-stats-favorites-header-hover: theme(--color-blue-600);
  
  --color-theme-stats-favorites-content-bg-1: theme(--color-blue-600);
  --color-theme-stats-favorites-content-bg-2: theme(--color-blue-600);
  --color-theme-stats-favorites-content-bg-3: theme(--color-blue-600);
  --color-theme-stats-favorites-content-border: theme(--color-blue-600);

  /* --------------------------------------------------------------------------- */
  /*                               Game Form Page                                */
  /* --------------------------------------------------------------------------- */
  --color-theme-gameform-bg-1: theme(--color-blue-600);
  --color-theme-gameform-bg-2: theme(--color-blue-600);
  --color-theme-gameform-bg-3: theme(--color-blue-600);
  --color-theme-gameform-border: theme(--color-blue-600);

  --color-theme-gameform-input-bg: theme(--color-blue-600);
  --color-theme-gameform-image-button: theme(--color-blue-600);
  --color-theme-gameform-image-button-hover: theme(--color-blue-600);
  --color-theme-gameform-selectbox-item-bg: theme(--color-blue-600);
  
  --color-theme-gameform-switch-bg-1: theme(--color-blue-600);
  --color-theme-gameform-switch-bg-2: theme(--color-gray-600);
  --color-theme-gameform-switch-ring: theme(--color-indigo-300);

  --color-theme-gameform-genres-inner-bg: theme(--color-indigo-300);
  --color-theme-gameform-genres-border: theme(--color-indigo-300);

  --color-theme-gameform-genres-button-1: theme(--color-indigo-300);
  --color-theme-gameform-genres-button-1-hover: theme(--color-indigo-300);
  --color-theme-gameform-genres-button-1-active: theme(--color-indigo-300);
  --color-theme-gameform-genres-button-2: theme(--color-indigo-300);
  --color-theme-gameform-genres-button-2-hover: theme(--color-indigo-300);
  --color-theme-gameform-genres-button-2-active: theme(--color-indigo-300);

  /* --------------------------------------------------------------------------- */
  /*                           Update Tier List Page                             */
  /* --------------------------------------------------------------------------- */
  --color-theme-updatetierlist-button: theme(--color-indigo-300);
  --color-theme-updatetierlist-button-hover: theme(--color-indigo-300);
  --color-theme-updatetierlist-button-active: theme(--color-indigo-300);

  /* --------------------------------------------------------------------------- */
  /*                              Update Data Page                               */
  /* --------------------------------------------------------------------------- */
  --color-theme-updatedata-container-1-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-1-bg-2: theme(--color-indigo-300);
  --color-theme-updatedata-container-1-inner-bg: theme(--color-indigo-300);
  --color-theme-updatedata-container-1-button: theme(--color-indigo-300);
  --color-theme-updatedata-container-1-button-hover: theme(--color-indigo-300);
  --color-theme-updatedata-container-1-button-active: theme(--color-indigo-300);

  --color-theme-updatedata-container-2-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-2-bg-2: theme(--color-indigo-300);
  --color-theme-updatedata-container-2-inner-bg: theme(--color-indigo-300);
  --color-theme-updatedata-container-2-button: theme(--color-indigo-300);
  --color-theme-updatedata-container-2-button-hover: theme(--color-indigo-300);
  --color-theme-updatedata-container-2-button-active: theme(--color-indigo-300);

  --color-theme-updatedata-container-3-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-3-bg-2: theme(--color-indigo-300);
  --color-theme-updatedata-container-3-inner-bg: theme(--color-indigo-300);
  --color-theme-updatedata-container-3-button: theme(--color-indigo-300);
  --color-theme-updatedata-container-3-button-hover: theme(--color-indigo-300);
  --color-theme-updatedata-container-3-button-active: theme(--color-indigo-300);

  --color-theme-updatedata-container-4-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-4-bg-2: theme(--color-indigo-300);
  --color-theme-updatedata-container-4-inner-bg: theme(--color-indigo-300);
  --color-theme-updatedata-container-4-button: theme(--color-indigo-300);
  --color-theme-updatedata-container-4-button-hover: theme(--color-indigo-300);
  --color-theme-updatedata-container-4-button-active: theme(--color-indigo-300);

  --color-theme-updatedata-container-5-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-5-bg-2: theme(--color-indigo-300);
  --color-theme-updatedata-container-5-inner-bg: theme(--color-indigo-300);
  --color-theme-updatedata-container-5-button: theme(--color-indigo-300);
  --color-theme-updatedata-container-5-button-hover: theme(--color-indigo-300);
  --color-theme-updatedata-container-5-button-active: theme(--color-indigo-300);

  --color-theme-updatedata-container-6-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-6-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-6-inner-bg: theme(--color-indigo-300);
  --color-theme-updatedata-container-6-button: theme(--color-indigo-300);
  --color-theme-updatedata-container-6-button-hover: theme(--color-indigo-300);
  --color-theme-updatedata-container-6-button-active: theme(--color-indigo-300);

  --color-theme-updatedata-container-7-bg-1: theme(--color-indigo-300);
  --color-theme-updatedata-container-7-bg-2: theme(--color-indigo-300);
  --color-theme-updatedata-container-7-inner-bg: theme(--color-indigo-300);
  --color-theme-updatedata-container-7-button: theme(--color-indigo-300);
  --color-theme-updatedata-container-7-button-hover: theme(--color-indigo-300);
  --color-theme-updatedata-container-7-button-active: theme(--color-indigo-300);

  --color-theme-updatedata-container-content-bg: theme(--color-indigo-300);

  --color-theme-updatedata-button-edit: theme(--color-indigo-300);
  --color-theme-updatedata-button-edit-hover: theme(--color-indigo-300);
  --color-theme-updatedata-button-edit-active: theme(--color-indigo-300);

  --color-theme-updatedata-button-delete: theme(--color-indigo-300);
  --color-theme-updatedata-button-delete-hover: theme(--color-indigo-300);
  --color-theme-updatedata-button-delete-active: theme(--color-indigo-300);

  --color-theme-updatedata-button-arrow: theme(--color-indigo-300);
  --color-theme-updatedata-button-arrow-hover: theme(--color-indigo-300);
  --color-theme-updatedata-button-arrow-active: theme(--color-indigo-300);
}

[data-theme="indigo"] {
  
}

[data-theme="blue"] {
  --color-theme-global-bg-1: theme(--color-blue-900);
  --color-theme-global-bg-2: theme(--color-blue-950);
}
